$primary-color:#7286A0;
$border-color:$primary-color;

body {
  font-family: 'Montserrat', sans-serif;
  font-size:0.8rem;
}

// header
header {
  background:$primary-color;
  padding:20px;
  text-align:center;
  #logo {
    font-family: 'Yesteryear', cursive;
    font-size:30px;
    color:white;
  }
}

.currency-selector {
  margin:20px 20px 0 20px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  label {
    margin-right:6px;
    font-weight:bold;
  }
  select {
    padding:6px 10px;
    border-radius:6px;
    border:1px solid $border-color;
  }
}

main {
  max-width:1024px;
  margin:auto;
}

// product grid

.product-grid {
  margin:20px;
  padding-bottom:60px;

  .item {
    border:1px solid $border-color;
    border-radius:6px;
    margin-bottom:20px;
    padding:10px;
    text-align:center;
    padding-bottom:120px;
    position:relative;
    img {
      max-width:80%;
    }

    .name {
      font-size:1.1rem;
    }
    .price {
      margin:10px 0;
    }
    .item-details {
      position:absolute;
      bottom:20px;
      left:0;
      width:100%;
    }
    .action {
      color:white;
      text-decoration:none;
      background:#A3BFA8;
      padding:8px 14px;
      border-radius:6px;
      display:inline-block;
      margin-top:6px;
    }

  }
}

.minicart {
    padding: 20px;
    position: fixed;
    left:0;
    bottom: 0;
    background: white;
    width: 100%;
    border-top: 1px solid $border-color;
    .toggle {
      h2 {
        margin:0;
      }
    }
    .item {
      margin:10px 0;
    }

    .content {
      display:none;
    }
}

.minicart-open {
  .minicart {
    .toggle {
      .fa-chevron-up {
        display:none;
      }
      .fa-chevron-down {
        display:inline-block;
      }
    }
  }
}

.minicart {
  .toggle {
    cursor:pointer;
    .fa-chevron-down {
      display:none;
    }
  }
}

@media only screen and (min-width: 365px) {
  .product-grid {
    display:flex;
    flex-wrap:wrap;
    .item {
      box-sizing:border-box;
      width:calc(50% - 10px);
      &:nth-child(odd) {
        margin-right:20px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .product-grid {
    .item {
      width:calc(33.33% - (2 * 20px) / 3);
      margin-right:20px;
      &:nth-child(3n) {
        margin-right:0;
      }
    }
  }

}

@media only screen and (min-width: 1024px) {
  .product-grid {
    .item {
      width:calc(25% - (3 * 20px) / 4);
      margin-right:20px;
      &:nth-child(3n) {
        margin-right:20px;
      }
      &:nth-child(4n) {
        margin-right:0;
      }
    }
  }

}
