// header
header {
  background:#7286A0;
  padding:20px;
  text-align:center;
  #logo {
    font-family: 'Yesteryear', cursive;
    font-size:30px;
    color:white;
  }
}


// product grid

.product-grid {
  margin:20px;

  .item {
    border:1px solid black;
    margin-bottom:20px;
    padding:10px;
    text-align:center;
    img {
      max-width:60%;
    }
    .action {
      color:white;
      text-decoration:none;
      background:#A3BFA8;
      padding:6px 10px;
      display:inline-block;
      margin-top:6px;
    }

  }
}
